html{
    font-size: 16px;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Header Section */

header.desktop{
    display: flex;
    height: 64px;
    align-items: center;
    align-content: center;
    width:100%;
    background-color:whitesmoke;
   /* position: fixed; */
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    
}

/* Parent Cotainer */

.logo-container{
    display:flex;
    margin-left: 1.5rem;
    align-content: center;
    align-items: center; 
}

.title{
    font-size: 1.5rem;
    
      
}

.colmar{
    font-weight: 900;
}

.academy{
    font-weight: 400;
}


nav{
    display: inline-flex;
    margin-right: 2rem;
    

}

nav a{
    font-size:1rem;
    text-decoration: none;
    padding: 1rem;
    color:black;
    
  
}

/* Mobile Header */

header.mobile{
    display: none;
}

/* Main Section */

main{
    display:flex;
    position:relative;
    width:100%;
    background-color:lightgray;
}

.column1{
    display:flex;
    width:60%;
    margin: 32px 24px;

}

.column2{
    display:flex;
    align-content: center;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:40%;   
}

.column2 h1{
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem; 
    color: gray;    
}

.column2 p{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 2rem; 
    color: gray;     
}

.button{
    background-color: gray;
    width:60%;
     padding: 8px 0;
    
}

.button a{
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color:whitesmoke;    

}

/* Second Section */

section{
    display:flex;
    position: relative;
        
}

/* Second Section - Left */

.column3{
    width:60%;
    margin: 32px 24px;
    display: flex;
    flex-direction: column;    
}

.section-content{
    display:flex;
    flex-direction: column;
}

/* Second Section - Right */

.aside{
    width:40%;
    display:flex;
}

aside img{
    width:35%;
    height: auto;
    display: flex;
}

.column4{
    display: flex;
}

.column5{
    display: flex;
}

.column6{
    display: flex;
}


.side-content{
    display: flex;
    width:65%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.learning{
    display:flex;
    width:100%;
    position: relative;
}

.section-title{
    display:flex;
}

.course{
    display:flex;
}